:root {
    --primary-color: rgb(108, 7, 7);
    --secondary-color: #eee;
    --font-family: 'Poppins', sans-serif;
    --primary-font-size: 20px;
    --principal-text-align: justify;
    --background-color: #285f87;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   
}

body {
    font-family: var(--font-family);
}

.container {
    max-width: 1200px;
    padding: 0 20px;
  }

/********************
 HEADER 
 ********************/
 .header {
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 15px 0;
    background-color: #283618;
    border-bottom: 5px solid #fefae0c4;
  }

  .page-title {
    color: #fefae0;
    font-size: 40px;
  }  

/********************
 HERO 
 ********************/
 .hero {
    min-height: calc(100vh - 140px);
  
    background-size: cover;
    background-position: center;
    background-image: url("../images/hero_large_image_w03.webp");
  }
  
  .data-container-cards {
    display: inline-block;
    margin-top: 50px;
  }  

/********************
DATA CARD 
********************/
.data-card {
    padding: 20px;
    background-color: #fefae0e7;
    position: relative;
  }
  
  .data-card-title-container {
    position: absolute;
    left: -10px;
  
    padding: 20px 200px 20px 20px;
    background-color: #606c38;
  }
  
  .data-card-title {
    color: white;
    font-weight: 700;
  }
  
  .data-card-description {
    padding: 100px 0 0 4px;
  }

  /********************
 WEATHER CARD 
 ********************/
.weather-container-cards {
    display: flex;
    justify-content: right;
    position: absolute;
    bottom: 80px;
    right: 20px;
  }
  
  .weather-card {
    padding: 20px;
    background-color: #fefae0e7;
    position: relative;
  }
  
  .weather-card-title-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: -10px;
    padding: 20px 70px 20px 20px;
    background-color: #606c38;
    width: 220px;
  }
  
  .weather-card-title {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
  }

  .weather-icon {
    width: 50px;
    height: 50px;
  }
  
  .weather-card-description {
    padding: 100px 0 0 4px;
  }

/********************
 HERO MOBILE
 *******************/
 .hero-mobile {
    display: none;
    background-color: #fefae0;
  }
  
  /********************
   HERO MOBILE DATA
   *******************/
  .data-card-mobile {
    text-align: center;
    padding: 40px 0;
  }
  
  .data-card-title-container-mobile {
    margin-bottom: 20px;
  }
  
  .data-card-title-mobile {
    font-size: 32px;
    font-weight: 600;
    text-decoration: underline solid #606c38;
  }

/*********************
 HERO MOBILE WHEATER
 ********************/
.weather-container-cards-mobile {
  padding: 40px 0;
  text-align: center;
}

.weather-card-title-container-mobile {
  margin-bottom: 20px;
}

.weather-icon {
  width: 150px;
}

.weather-card-title-mobile {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;

  font-size: 32px;
  font-weight: 600;
  text-decoration: underline solid #606c38;
}  

#header__base {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	height: 150px;
	text-align: center;
	position: relative;
    align-content: center;
    font-size: larger;

}


@media (max-width: 410px) {
    .page-title {
      font-size: 30px;
    }
  }
  
  @media (max-width: 648px) {
    .hero {
      background-image: url("../images/hero_small_image_w03.webp.jpg");
      min-height: calc(100vh - 100px);
      background-size: cover;
      background-position: center;
    }
  
    .data-container-cards,
    .weather-container-cards {
      display: none;
    }
  
    .hero-mobile {
      display: block;
    }
  }

footer {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: 15px;
    padding: 5px;
    flex-shrink: 0;
}

